//colors
$black: #001514;
$cloud: #92dce5;
$coral: #ef6461;
$light-gray: #919191;

//font family
$montserrat: 'Montserrat', sans-serif;
$open-sans: 'Open Sans', sans-serif;

//font weight
$font-light: 200;
$font-regular: 400;
$font-bold: 700;

//font sizes
$x-small: 12px;
$small: 14px;
$medium: 16px;
$large: 18px;
$x-large: 20px;
$xx-large: 35px;


//$path: "../../img/";